<div class="row chat-wrap">

    <!-- Contacts & Conversations -->
    <div class="col-sm-3 panel-wrap">

        <!-- Overlay Menu / Contacts -->
        <div class="col-sm-12 section-wrap collapse" id="Contacts">

            <!--Header-->
            <div class="row header-wrap">
                <div class="chat-header col-sm-12">
                    <h4>Select a Contact</h4>
                    <div class="header-button">
                        <a class="btn pull-right" href="#Contacts" data-toggle="collapse">
                            <i class="fa fa-close"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!--Contacts-->
            <div class="row content-wrap">
                <div class="contact btn">
                    <div class="media-body">
                        <h5 class="media-heading">Walter White</h5>
                    </div>
                </div>
                <div class="contact btn">
                    <div class="media-body">
                        <h5 class="media-heading">Walter White</h5>
                    </div>
                </div>
            </div>

        </div>

        <!--Left Menu / Conversation List-->
        <div class="col-sm-12 section-wrap">

            <!--Header-->
            <div class="row header-wrap">
                <div class="chat-header col-sm-12">
                    <h4 id="username">Conversations</h4>
                    <div class="header-button" onclick="showAdder()">
                        <a class="btn pull-right">
                            <i class="fa fa-address-book-o fa-lg"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!--Conversations-->
            <div class="row content-wrap">
                <% @conversations.each do |conversation| %>
                    <div class="conversation btn">
                        <div class="media-body">
                            <h5 class="media-heading" id="contactName" onclick="loadConversation('<%= conversation.id %>', '<%= conversation.name %>', '<%= current_user.id %>', this)"><%= conversation.name %></h5>
                        </div>
                    </div>
                <% end %>
            </div>

        </div>

    </div>

    <!-- Messages & Info -->
    <div class="col-sm-9 panel-wrap">

        <!--Main Content / Message List-->
        <div class="col-sm-9 section-wrap" id="Messages">
            <!--Header-->
            <div class="row header-wrap">
                <div class="chat-header col-sm-12">
                    <h4 id="converation-title">Conversation Title</h4>
                    <div class="header-button">
                        <a id="mybtn" class="btn pull-right info-btn">
                            <i class="fa fa-plus-circle fa-lg"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!--Message box & Send Button-->
            <div class="row send-wrap">
                <div class="send-message">
                    <div class="message-text">
                        <textarea id="message" class="no-resize-bar form-control" rows="2" placeholder="Write a message..."></textarea>
                    </div>
                    <div class="send-button">
                        <button id="send" class="btn">Send <i class="fa fa-send"></i></button>
                    </div>
                </div>
            </div>

            <!--Messages-->
            <div class="row content-wrap messages" id="messages">
                               
            </div>

 
        </div>

    </div>
</div> 

<%= render "add_to_chat" %>
<%= render "create_conversation" %>
