<%= form_with(model: project, local: true, class: 'form col-lg-5') do |form| %>
    <% if project.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

            <ul>
                <% project.errors.full_messages.each do |message| %>
                    <li>
                        <%= message %>
                    </li>
                    <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field form-group">
        <%= form.text_field :title, id: :project_title, class: 'form-control', placeholder: 'Title', autofocus: true%>
    </div>

    <%= form.hidden_field :user_id, value: current_user.id %>

    <div class="actions">
        <%= form.submit 'save', class: 'btn btn-primary col-lg-12'%>
    </div>
 <% end %>
