<%= form_with(model: [project, bug], local: true, multipart: true, class: 'form col-lg-5') do |form| %>
    <% if bug.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(bug.errors.count, "error") %> prohibited this project from being saved:</h2>

            <ul>
                <% project.errors.full_messages.each do |message| %>
                    <li>
                        <%= message %>
                    </li>
                    <% end %>
            </ul>
        </div>
        <% end %>

    <div class="field from-group">
        <%= form.text_field :title, id: :bug_title, class: 'form-control', placeholder: 'Title', autofocus: true %>
    </div>

    <div class="field from-group">
        <%= form.date_field :deadline, id: :bug_deadline, class: 'form-control', placeholder: 'deadline' %>
    </div>

    <div class="field from-group">
        <%= form.select :bug_type,["Feature","Bug"], {}, id: :bug_type, class: 'form-control', placeholder: 'Title' %>
    </div>

    <div class="field from-group">
        <%= form.select :status,["New","Started", "Resolved"], {}, id: :bug_status, class: 'form-control', placeholder: 'Title' %>
    </div>

    <div class="field from-group">
        <%= form.file_field :image, class: 'form-control', placeholder: 'Title' %>
    </div>

    <%= form.hidden_field :user_id, value: current_user.id %>

    <div class="actions">
        <%= form.submit 'save', class: 'btn btn-primary col-lg-12'%>
    </div>
<% end %>
