<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Freelancer - Start Bootstrap Theme</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Montserrat:400,700" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Varela+Round" %>

    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= action_cable_meta_tag %>

    <%= csrf_meta_tags %>

  </head>

  <body id="page-top">

    <% if user_signed_in? %>

      <%= render "layouts/nav" %>
      <div class="container" id="body">
        <% if notice %>
            <p id="notice">
                <i class="fa fa-exclamation-triangle"> </i><%= notice %>
            </p>
        <% end %>
        <%= yield %>
      </div>
      <%= render "layouts/footer" %>

    <% else %>

      <% if alert %>
        <p id="notice">
          <i class="fa fa-exclamation-triangle"> </i><%= alert %>
        </p>
      <% end %>

      <%= yield %>

    <% end %>

  </body>

</html>
